body{
    font: 14px arial, sans-serif 
}
.navbar {
    background-color:  #050404;
    color:white;
}
.margin{ 
    padding-top: 50px;
    padding-bottom: 50px;
}
.home {
    background-color: #050404;
    color: #fbed77 ;
}
.historia {
    background-color: #050404;
    color: #fbed77 ;
}
.trabalhos {
    background-color: #050404;
    color: #fbed77 ;
}
.academico {
    background-color: #050404;
    color:  #fbed77 ;
}
.contatos {
    background-color: #050404;
    color: #fbed77 ;
}
